
body {backround:993366;
}

h1 {
    border
    color:#993366;font-size: 80px;
    text-align;
}

h3{
    font-size: 30px;
}

.header{
    background: #cdcdcd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar{
    background: #333333;
    padding: 10px;
}

.post{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}